body {
    font-family: "Roboto Mono", monospace;
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

footer,
textarea,
code {
    font-size: 0.9rem !important;
}

code#output {
    white-space: pre-line;
}

form {
    min-height: 600px;
}

footer {
    bottom: 5%;
}

footer svg {
    width: 2rem;
    height: 2rem;
}
